@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}
.home{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 255, 0.542),white);
}
.logo img{
    width: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;}
.logo{
    display: flex;
    align-items: center;
    gap:10px;}
.navitems{
    display: flex;
    align-items: center;
    gap: 15px;
}
.btn{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    background-color: blue;
    color: white;
    border: 3px solid transparent;
    transition: 0.5s;
}
.btn:hover{
    border: 3px solid white;
    background-color: transparent;
    color: black;
}

.navitems a{
    position: relative;
}
.navitems a::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.navitems a:hover::after{
    width: 100%;
}
.intro{
    display: flex;
    justify-content: space-between;
}
.left-i{
    flex: 1;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.head h2{
    font-size: 40px;
}
.myh2 span{
    color: blue;
}
.right-i{
    flex: 1;
}

.logo span{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
}
.navitems a{
    font-family: Roboto;
    font-size: 18px;
}
.head h2{
    font-family: roboto;
    font-size: 60px;
    margin: 10px 0;
}
.left-i p{
    font-family: poppins;
    color: rgba(0, 0, 0, 0.638);
}

.left-i{
    /* background-color: red; */
}
.right-i{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.right-i img{
    width: 60%;
}
.box1{
    position: absolute;
    top: 30px;
    left: 80px;
    background-color: rgba(255, 255, 255, 0.462);
    padding: 10px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    gap: 1rem;
}
.box1 ion-icon{
    padding: 10px;
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
.box2{
    position: absolute;
    top: 300px;
    left: 500px;
}
.box3{
    position: absolute;
    width: 180px;
    top: 430px;
    left: 100px;
}
.box4{
    position: absolute;
    width: 150px;
    top: 100px;
    left: 500px;
}


.aboutus{
    margin: 50px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.left-a{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left-a div{
    flex:1;
    height: 330px;
    width: 200px;
    transition: 0.5s;
}
.left-a div:hover{
    flex: 3;
}
.left-a>div:nth-of-type(2){
    height: 400px;
}
.left-a div img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}
.right-a{
    width: 400px; 
    display: flex;  
    flex-direction:column;
    gap: 2rem;
    align-items: flex-start;
}
.right-a h1{
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 800;
}
.right-a p{
    font-family: poppins;
    color: rgba(0, 0, 0, 0.533);
}
